.title{
	width: 80%
	max-width: 1024px;
	display: inline-block;
	margin: 0 auto;
	padding: 50px;
	text-align: center;
	font-size: 36px;
	font-family: helvetica;
	color: #586e69;
}
body {
	width: 80%;
	max-width: 1024px;
	margin: 0 auto;
}

.container-padding50 {
	padding-top: 50px;
}

.container-textinput {
	width: 80%;
	display: inline-block;
	padding: 20px;
	font-size: 16px;
	font-family: Helvetica, sans-serif;
}

.container-button {
	width: 10%;
	display: inline-block;
	padding: 20px;
	background-color: green;
	color: white;
	font-size: 16px;
	font-family: Helvetica, sans-serif;

	border: 1px solid green;
	border-radius: 5px;
}

.container-image {
	width: 30%;
	display: block;
	float: left;
	margin-right:3%;
}
